# Importando a biblioteca pandas e fazendo a leitura do arquivo

In [149]:
import pandas as pd
df = pd.read_csv('drinks.txt')

# 1. Qual a média e desvio padrão do consumo de cerveja, licor, vinho e total de álcool?

In [150]:
print('A média de consumo é: \n{}\n\nO desvio padrão é:\n{}'.format(df.mean(), df.std()))

A média de consumo é:
beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

O desvio padrão é:
beer_servings                   101.143103
spirit_servings                  88.284312
wine_servings                    79.697598
total_litres_of_pure_alcohol      3.773298
dtype: float64

# 2. Qual o consumo de licor na França?

In [151]:
france = df[df['country'] == 'France']

print('O consumo de licor na França é: {}'.format(france['spirit_servings'].values))

O consumo de licor na França é: [151]

# 3. Quais os 5 países nos quais se consome mais vinho?

In [152]:
print('Os 5 paises que mais consomem vinho é:')
df.sort_values(by='wine_servings', ascending = False).head()

Os 5 paises que mais consomem vinho é:

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
61,France,127,151,370,11.8
136,Portugal,194,67,339,11.0
3,Andorra,245,138,312,12.4
166,Switzerland,185,100,280,10.2
48,Denmark,224,81,278,10.4

# 4. Quais os países nos quais o consumo de cerveja está acima da média?

In [156]:
média = df['beer_servings'].mean()
print(f'A média de consumo de cerveja nos paíese é: {média:.2f}')
df[df['beer_servings'] > média]

A média de consumo de cerveja nos paíese é: 106.16

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9
6,Argentina,193,25,221,8.3
8,Australia,261,72,212,10.4
9,Austria,279,75,191,9.7
...,...,...,...,...,...
182,United Kingdom,219,126,195,10.4
184,USA,249,158,84,8.7
185,Uruguay,115,35,220,6.6
188,Venezuela,333,100,3,7.7
189,Vietnam,111,2,1,2.0

# 5. Quais países nos quais o consumo total de álcool está acima do Brasil, em ordem do menor para o maior?
Abaixo temos os dados referentes aos países que tem um consumo de alcool maior que o Brasil

In [154]:
br = df[df['country'] == 'Brazil']
consumobr = br['total_litres_of_pure_alcohol'].mean()
df_br = df[df['total_litres_of_pure_alcohol'] >= consumobr]
df_br.sort_values(by='total_litres_of_pure_alcohol', ascending = True)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
165,Sweden,152,60,186,7.2
23,Brazil,245,145,16,7.2
130,Panama,285,104,18,7.2
132,Paraguay,213,117,74,7.3
35,Chile,130,124,172,7.6
188,Venezuela,333,100,3,7.7
143,St. Kitts & Nevis,194,205,32,7.7
159,South Africa,225,76,81,8.2
32,Canada,240,122,100,8.2
44,Cyprus,192,154,113,8.2
6,Argentina,193,25,221,8.3
179,Uganda,45,9,0,8.3
67,Greece,133,112,218,8.3
184,USA,249,158,84,8.7
62,Gabon,347,98,59,8.9
180,Ukraine,206,237,45,8.9
124,Nigeria,42,5,2,9.1
121,New Zealand,203,79,175,9.3
120,Netherlands,251,88,190,9.4
57,Estonia,224,194,59,9.5
151,Serbia,283,131,127,9.6
9,Austria,279,75,191,9.7
138,South Korea,140,16,9,9.8
160,Spain,284,157,112,10.0
60,Finland,263,133,97,10.0
144,St. Lucia,171,315,71,10.1
166,Switzerland,185,100,280,10.2
42,Croatia,230,87,254,10.2
25,Bulgaria,231,252,94,10.3
182,United Kingdom,219,126,195,10.4
8,Australia,261,72,212,10.4
48,Denmark,224,81,278,10.4
140,Romania,297,122,167,10.4
16,Belgium,295,84,212,10.5
93,Latvia,281,216,62,10.5
156,Slovenia,270,51,276,10.6
135,Poland,343,215,56,10.9
136,Portugal,194,67,339,11.0
75,Hungary,234,215,185,11.3
65,Germany,346,117,175,11.3
99,Luxembourg,236,133,271,11.4
155,Slovakia,196,293,116,11.4
81,Ireland,313,118,165,11.4
141,Russian Federation,247,326,73,11.5
45,Czech Republic,361,170,134,11.8
61,France,127,151,370,11.8
68,Grenada,199,438,28,11.9
3,Andorra,245,138,312,12.4
98,Lithuania,343,244,56,12.9
15,Belarus,142,373,42,14.4